*.cer
*.certSigningRequest
*.jks
*.keystore
*.log
*.mobileprovision
*.p12
*.p8
.DS_Store
.bundle
android/.gradle/
android/app/build/
android/build/
ios/App/App/public/
ios/App/Pods/
node_modules/
secrets/
vendor/bundle
